body {
	background: url("background.jpg");
}

* {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

h1 {
	color: lightblue;
	text-shadow: 0px 0px 1px black;
	font-family: 'Roboto', sans-serif;
}

h2 {
	color: lightblue;
	text-shadow: 0px 0px 1px black;
	font-family: 'Roboto', sans-serif;
}

html {
	zoom: 120%;
}